/* body */

html {
    height: 100%;
}

body {
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}


/* h1 */

h2 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
}


/* header, note list */

.side-bar {
    order: 2;
}

.note-list {
    list-style-type: square;
}

.note-list li {
    font-weight: 600;
}

.note-list li a {
    color: inherit;
}


/* documents section */

.container {
    display: flex;
    flex-direction: column;
    order: 1;
}

.about .page-documents {
    display: flex;
    justify-content: flex-end;
}

.page-documents {
    list-style-type: none;
}

.page-documents li {
    padding-left: 1em;
}

.page-documents li a {
    text-decoration: none;
}

.page-documents li a:link {
    color: #286983;
}

.page-documents li a:hover {
    color: #f6c177;
}

.page-documents li a:visited {
    color: #eb6f92;
}


/* text holder */

#text-area {
    width: 99%;
    border: 2px solid deepskyblue;
}


/* new note button section */

.new-note {
    margin: .5em 0;
    display: flex;
    justify-content: space-between;
}

button,
.btn-note {
    border-radius: 10px;
    padding: .8rem;
    border: none;
}

.btn-save,
.btn-note {
    background-color: #9ccfd8;
}

.interact-btn {
    display: flex;
    justify-content: flex-end;
    margin: .5em 0;
}

.interact-btn button {
    margin-left: 1em;
}

.btn-cancel {
    background-color: #d7827e;
}


/* footer */

footer {
    margin-top: auto;
    text-align: center;
    order: 99;
}

footer .social-footer-icons img {
    width: 10%;
}


/* change them to light */

#btn-light {
    background-color: #6e6a86;
}

#body-light {
    background-color: #f2e9de;
    color: #286983;
}

#side-bar-light {
    background-color: #faf4ed;
}


/* change theme to dark */

#btn-dark {
    background-color: #fffaf3;
}

#body-dark {
    background-color: #393552;
    color: #e0def4;
}

#side-bar-dark {
    background-color: #817c9c;
}


/* cancel button click --> hide buttons and text area */

.hide {
    display: none;
}


/* new note button click --> show all buttons and textarea */

.show {
    display: block;
}


/* media query */


/* larger screen */

@media screen and (min-width: 768px) {
    /* container (note-list and note-area) */
    body {
        flex-wrap: wrap;
        gap: .5em;
    }
    .cell {
        width: 80%;
    }
    .side-bar {
        order: 1;
        flex-basis: 100%;
        width: 20%;
    }
    .container {
        order: 2;
    }
    /* footer */
    footer .social-footer-icons img {
        width: 5%;
    }
}

@media screen and (min-width: 1024px) {
    /* text area */
    #text-area {
        width: 99.8%;
    }
    /* footer icon */
    footer .social-footer-icons img {
        width: 2%;
    }
}